<!DOCTYPE html>
<html>
<head>
  <title>Ng Hui Ling</title>
  <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>

<!-- navigation -->
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Ng Hui Ling</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="projects.html">Projects</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="blog.html">Blog</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
<br/>


<!-- panel -->
<div class="jumbotron" style="background:linear-gradient(to right, #E0B1CB, #9F86C0);color:#FFF">
  <div class="container">
    <h2 class="display-3">Blog: Django</h2>
    <p></p>
  </div>
</div>
<br/>


<!-- content -->
<div class="container" >
<!-- blog1 -->
<h1>#1: How to build a Django App</h1>
<h5>Date: 6 Jan 2021</h5><br>

<b>Step 1: Set up Virtual Environment using Git Bash </b><br>

<br>
> <text style='color:#F89520'><b>cd c/user/user/... </b></text> (cd to project folder directory)<br>
> <text style='color:#F89520'><b>ls</b><br></text>
> <text style='color:#F89520'><b>pip freeze</b><br></text>
><text style='color:#F89520'> <b>python -m -venv venv</b><br></text>
> <text style='color:#F89520'><b>cd..<br></b></text>
> <text style='color:#F89520'><b>source venv/Scripts/activate<br></b></text>
> <text style='color:#F89520'><b>pip freeze</b></text> (check if nothing shows up)<br>
> <text style='color:#F89520'><b>clear</b><br></text>

<br><br>

<b>Step 2: Install Django</b><br><br>
> <text style='color:#F89520'><b>pip install django</b></text><br>
> <text style='color:#F89520'><b>django-admin.py startproject <u>NAME1</u></b></text><br>
> <text style='color:#F89520'><b>cd <u>NAME1</u></b></text><br>
> <text style='color:#F89520'><b>python manage.py runserver</text></b><br>
Go to 'http://localhost:8000/' (check if working)


<br><br><br>

<b>Step 3: Set up admin users and migrate database</b><br><br>
> <text style='color:#F89520'><b>python manage.py migrate</b></text><br>
> <text style='color:#F89520'><b>winpty python manage.py createsuperuser</b></text> (fill in user and password)<br>
Go to 'http://localhost:8000/admin' (log in to check if working)

<br><br><br>

<b>Step 4: Create a new application</b><br><br>
> <text style='color:#F89520'><b>python manage.py startapp <u>NAME2</u></b></text><br>
Go back to previous main directory (<u>NAME1</u>)<br>
Go to 'settings.py' > Scroll to INSTALLED_APPS > Add '<u>NAME2</u>' <br>
Copy 'urls.py' file in <u>NAME1</u> and paste in <u>NAME2</u> <br>
Modify the 'urls.py' file in <u>NAME1</u> to include <u>NAME2</u>:<br>
<pre>
  <code>
from django.urls import path, include

path('', include('<u>NAME2</u>.urls')),
  </code>
</pre>

Remove "..import admin...' and 'path('admin/'....)' in 'urls.py' file in <u>NAME2</u><br>
Create a new folder 'templates' in <u>NAME2</u> > Add 'home.html' file inside<br>
In 'views.py' in <u>NAME2</u>, add:<br>
<pre>
  <code>
def home(request):
  return render(request,'home.html',{})
  </code>
</pre>

In 'urls.py' in <u>NAME2</u>, add:<br>
<pre>
  <code>
from . import views

urlpatterns = [
  path('',views.home, name='home'),
]
  </code>
</pre>


In 'templates' folder, create a new file 'base.html' and add:<br>
<pre>
  <code>
HEADER
#Add Bootstrap

{% block content %}

{% endblock %}

FOOTER
#Add Bootstrap
  </code>
</pre>

Modify 'home.html':<br>
<pre>
  <code>
{% extends 'base.html' %}

{% block content %}

Hello world!

{% endblock %}
  </code>
</pre>
Locate directory to <u>NAME1</u> and run programme<br>
> <text style='color:#F89520'><b>python manage.py runserver</b></text> <br><br>
Finally, go to 'http://localhost:8000/' on your browser to view: Hello world!
<br>
<br>
<br></div>


<footer>
  <p>Copyright &copy; 2020-2021 Ng Hui Ling</p>
</footer>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/js/mdb.min.js"></script>

</body>
</html>