@import url(https://use.fontawesome.com/releases/v5.7.0/css/all.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css);


.responsive {
  width: 100%;
  height: auto;
  max-width: 700px;
  border: 1px solid #555;
}


.responsive1 {
  width: 100%;
  height: 500px;
  max-width: 700px;
/*  border: 1px solid #555;*/
}


.responsive2 {
  width: 100%;
  height: auto;
  max-width: 700px;
}


pre code {
	font-family: Consolas,"courier new";
	color: crimson;
  	background-color: #f1f1f1;
  	border: 1px solid #E8E8E8;
 	display: block;
 	padding: 10px;
}



footer {

  width: 100%;
  text-align: center;
  padding: 5px;
  background:linear-gradient(to right, #E0B1CB, #9F86C0);
  color: white;
}

footer1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  background:linear-gradient(to right, #E0B1CB, #9F86C0);
  color: white;
}
html, body {
    height:100%;
}


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}




/* Style the container/contact section */
.newcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  width:400px
}

/* Create two columns that float next to eachother */
.newcolumn {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.newrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .newcolumn, button[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

