
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; 
}


.faded {
  color: rgba(0,0, 0, 0.8); 
}

header.startup {
  background-position: center;
/*  background-image: url("header.jpg");*/
  background-color: #FEE6EE;
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 300px;
  margin-bottom: 0px; 
}

header.startup h1 {
  font-size: 4.5rem; 
}


hr{
  width:0px;
}

.btn {
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  font-size:1.5rem;
  background-color: black;
  border-color: black; 
  margin-right:8px;
  margin-left:8px;
}

.btn-primary:hover {
  background-color: pink;
  border-color: pink;
/*  border-width: 5px;*/
  cursor: pointer;
}

p{
  color:black;
  margin-bottom: 100px;
  margin-top:50px;
}


img {
  width:250px;
  height:200px;
  margin: 10px;
  transition:all 0.3s;
  /*1second to scale*/
}

img:hover{
  transform:scale(1.1);
}


.container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.no-margin{
  margin-bottom: 15px

}

.index-p{
    margin-bottom: 180px

}